*{
    margin: 0px;
    padding:0px;
    border: none;      
    box-sizing: border-box;
}
body{
    background-color: #00504E;
}
/* Page settings */
nav{
    background-color: #003539;
    position: sticky;
    top:0;
    align-content: center;
}
.logo-image{
    margin-top: 5px;
    margin-left: 5px;
}
.nav-links{
    margin-top: 25px;
    list-style-type: none;
    float: right;
    margin-left: 50px;
    text-align: center;
}
li{
    display: inline-block;
}
li a{
    height: fit-content;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 30px;
    margin-right: 15px;
    padding: 10px;
    font-family: "inter";
    text-decoration: none;
    color: white;
}
li a:active{
    text-decoration: underline;
}
#active-tab{
    background-color: white;
    color: #003539;
    border-radius: 3rem;
}
#no-acc{
    border: white solid 3px;
    border-radius: 2rem;
}
/* Nav bar style */

/* below from style */
form{
    background-color: white;
    width: 22%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    align-content: center;
    border-radius: 1rem;
    height: 150%;
}
.form-header{
    font-family: "inter";
    color: #00504E;
    font-size: 40px;
    text-align: center;
    padding-bottom: 35px;
    padding-top: 25px;
    letter-spacing: 1px;
}
.username,
.password{
    border: 0px;
    margin-left: 15px;
    font-size: 130%;
    outline: none;
    color: #00504E;
}
.username,
.password:focus{
    border: none;
    outline: none;
}
.email,.password{
    padding-top: 25px;
}
.input-lines{
    border-width: 3px;
    background-color: #00504E;
    width:75%;
    margin-left: 15px;
    margin-top: 5px;
    height: 5px;   
    border-radius: 2rem;
}
.submite{
    margin-top: 35px;
    background-color: #00504E;
    color: white;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8rem;
    width: 60%;
}
.send{ 
    display: block;
    border-radius:8rem ;
    font-size: 25px;
    margin-left: auto;
    margin-right: auto;
    background-color: #00504E;
    color: white;
    padding-top: 15px;
    padding-bottom: 15px;
}
.sign-in-link{
    margin-top: 20px;
    padding-bottom: 25px;
    text-align: center;
}
.sign-in-link a{
    font-family: "inter";
    color: #00504E;
}
