@font-face {
    font-family: Bold;
    src: url(Font/Bold.ttf);
}
@font-face {
    font-family: ExtraBold;
    src: url(Font/ExtraBold.ttf);
}
@font-face {
    font-family: Regular;
    src: url(Font/Regular.ttf);
}
@font-face {
    font-family: Thin;
    src: url(Font/Regular.ttf);
}

*{
    margin: 0px;
    padding:0px;
    border: none;      
    box-sizing: border-box;
}
body{
    background-color: #00504E;
}
/* Page settings */
nav{
    background-color: #003539;
    position: sticky;
    top:0;
    align-content: center;
    height: fit-content;
    padding: 8px;
}
.logo-image{
    margin-top: 5px;
    margin-left: 5px;
}
.nav-links{
    margin-top: 25px;
    list-style-type: none;
    float: right;
    margin-left: 50px;
    text-align: center;
}
li{
    display: inline-block;
}
li a{
    height: fit-content;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 30px;
    margin-right: 15px;
    padding: 10px;
    font-family: Regular;
    text-decoration: none;
    color: white;
}
li a:active{
    text-decoration: underline;
}
#active-tab{
    background-color: white;
    color: #003539;
    border-radius: 3rem;
}
#no-acc{
    border: white solid 3px;
    border-radius: 2rem;
}
/* Nav bar style */

/* below from style */
form {
    background-color: white;
    width: 22%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    align-content: center;
    border-radius: 1rem;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form-header{
    font-family: Regular;
    color: #00504E;
    font-size: 40px;
    text-align: center;
    padding-bottom: 35px;
    padding-top: 25px;
    letter-spacing: 1px;
}
.username,
.email,
.password,
.confirm-password {
    border: 0px;
    font-size: 130%;
    outline: none;
    color: #00504E;
    width: 80%;
    margin-bottom: 10px;
    margin-left: 0; /* Remove left margin */
}

.username,
.email
,.password:focus{
    border: none;
    outline: none;
}
.email,.password,.confirm-password{
    padding-top: 25px;
}
.input-lines {
    border-width: 3px;
    background-color: #00504E;
    width: 80%;
    margin: 5px 0 15px 0;
    height: 5px;
    border-radius: 2rem;
}
.submite {
    margin-top: 35px;
    background-color: #00504E;
    color: white;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8rem;
    width: 60%;
    display: flex;
    justify-content: center;
}
.send { 
    display: block;
    border-radius: 8rem;
    font-size: 25px;
    background-color: #00504E;
    color: white;
    padding: 15px 0;
    width: 100%;
    text-align: center;
}
.login-link{
    margin-top: 20px;
    padding-bottom: 25px;
    text-align: center;
}
.login-link a{
    font-family: Regular;
    color: #00504E;
}
#message{
    display: block;
    margin-left: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}